<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- nav bar -->
  <nav>
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <!-- new links below-->
  <a href="/menu/mains">Mains</a>
  <a href="/menu/desserts">Desserts</a>
  <a href="/menu/sides">Sides</a>
</nav>
  <title>Categories</title>
</head>
<body>
  <h1>Menu Categories</h1>
<p><%= categoryName %></p>
</body>
</html>