<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <!-- nav bar -->
  <nav>
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <!-- new links below-->
  <a href="/menu/mains">Mains</a>
  <a href="/menu/desserts">Desserts</a>
  <a href="/menu/sides">Sides</a>
</nav>
  <h1>Full Menu</h1>
  <div>
    <% menu.forEach(item => { %>
     <p><%= item.name %><br>
    Price: <%= item.price %><br>
    Rating: <%=item.rating %><br>
    Details: <%= item.details %>
</p>
    <% }); %>
  </div>
</body>
</html>
